.lowgreen {
    background-color: rgb(114, 206, 114);
}
.moderate-yellow {
    background-color: rgb(192, 219, 117);
}
.high-orange {
    background-color: rgb(230, 129, 82);
}
.veryhigh-red {
    background-color: rgb(230, 94, 82);
}
.extreme-purple {
    background-color: rgb(95, 55, 238);
}